.collectionViewContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.collectionViewTitle {
  font-size: 1.4rem;
}

.collectionViewType {
  margin-right: 0.5rem;
}

.collectionViewMainInfo {
  font-size: 1.1rem;
}

.collectionViewExpansionDetails {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding: 0;
  margin-left: .5rem;
}
