.collectionViewContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.collectionViewType {
  margin-right: 0.5rem;
}

.collectionViewExpansionDetails  span:not(:last-child) {
  margin-right: .75rem;
}