.collectionsItem {
  display: flex;
  align-items: baseline;
  gap: 1.2rem;
  max-width: 35%;
  transition: opacity 0.5s ease;
}

.collectionsItemBtnContainer {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.fadeOut {
  opacity: 0;
}