.collectionFormContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.collectionForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

.collectionFormShortWidthInput {
  width: 15%;
}

.collectionFormMidWidthInput {
  width: 35%;
}

.collectionFormLongWidthInput {
  width: 65%;
}

.collectionFormBtn {
  width: fit-content;
}