.collectionFormContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.collectionFormTitle {
  font-size: 1.6rem;
}

.collectionForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.fieldHolder {
  position: relative;
  margin-bottom: 1.25rem;
}

.fieldHolder select {
  width: 10rem;
}

.innerLabel {
  position: absolute;
  top: 2px;
  left: 5px;
  display: flex;
  align-items: center;
  color: #aeb4ba;
  font-weight: bold;
  cursor: text;
  transition: .3s ease-in-out;
}

.innerInput:focus + label,
.innerInput:valid + label {
    font-size: .85rem;
    top: -25px;
    left: 0;
    pointer-events: none;
}

.innerInput:valid + label {
    color: #42a96a;
}

.innerInput.touched:invalid {
    border-bottom: 2px solid #EF5350;
}

.innerInput.touched:invalid + label {
    color: #EF5350;
}

.displayNone {
  display: none;
}

.collectionFormShortWidthInput {
  width: 15%;
}

.collectionFormMidWidthInput {
  width: 35%;
}

.collectionFormLongWidthInput {
  width: 65%;
}

.collectionFormBtnContainer, .collectionFormInputContainer {
  display: flex;
  gap: 1.5rem
}

.collectionFormBtn {
  width: fit-content;
}